
<table style="width:100%;">
  <tr>
    <td>
      <div class="card-div">
        <div class="card-header">Event Summary</div>
          <table style="width:100%;text-align:center">
            <tr>
              <td style="text-align:left; padding-left:10px">{{status_text}}</td>
              <td><svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#CCCCCC" /></svg>&nbsp; {{total}}&nbsp;  Total</td>
              <td><svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#29ABE0" /></svg>&nbsp;  {{info}}&nbsp;  Information</td>
              <td><svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#FFC107" /></svg>&nbsp;  {{warn}}&nbsp;  Warning</td>
              <td><svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#F47C3C" /></svg>&nbsp;  {{majr}}&nbsp;  Major</td>
              <td><svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#D9534F" /></svg>&nbsp;  {{crit}}&nbsp;  Critical</td>
              <td style="text-align:right;padding-right:12px"><input type="button" onclick="window.location.href='events?status={{status}}'" class="action-button" value="{{change_text}}" /></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td style="text-align: left;padding-top:8px">
        <div class="card-div">
          <div class="card-header">Events</div>
            <table style="width:100%">
                {{event_list|safe}}
            </table>
          </div>
        </td>
      </tr>
    </table>