<form action="" method="POST">
    <table>
        <tr>
            <td style="width:150px">Username</td>
            <td style="width:150px"><input type="text" class="text-input" name="username" /></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" class="text-input" name="password" /></td>
        </tr>
        <tr>
            <td>Role</td>
            <td><input type='radio' name='role' value='0' /> User <input type='radio' name='role' value='1' /> Admin</td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align:right"><input type="submit" class="action-button" value="Submit" /></td>
        </tr>
    </table>
</form>