<table style="width:100%;"><tr><td>
    <div class="card-div">
    <div class="card-header">Confirm Delete</div>
    <table style="width:100%;">
    <tr>
    <td style="padding-left:10px">
        <table>
            <tr><td>Are you sure you want to delete this user? &nbsp;
            <input type="button" onclick="window.location.href='/user_delete_confirm/{% id %}'" class="action-button" value="Yes" /> 
            <input type="button" onclick="window.location.href='/users/'" class="action-button" value="No" />
            </td></tr>
            </table>
    </td></tr></table> 
    </div></td></tr>
</table>