<h2 id='top'>Table of Contents</h2>
<b><a href='#intro'>Introduction</a></b><br />
<b><a href='#agent'>Agent</a></b><br />
&nbsp;-<a href='#agent_settings'>Settings</a><br />
<b><a href='#server'>Server</a></b><br />
&nbsp;-<a href='#server_settings'>Settings</a><br />
<b><a href='#website'>Website</a></b><br />
&nbsp;-<a href='#website_main'>Main</a><br />
&nbsp;-<a href='#website_devices'>Devices</a><br />
&nbsp;-<a href='#website_events'>Events</a><br />
&nbsp;-<a href='#website_reports'>Reports</a><br />
&nbsp;-<a href='#website_settings'>Settings</a><br />
<br />
<h2 id='intro'>Introduction</h2>
The monitoring application consist of five major components (Agent, Collector, Event Engine, Web Server, and Website).  These components 
work together to perform basic monitoring. This guide is to help you better understand how the components function.
<br /><br />
<h2 id='agent'>Agent</h2>
The monitoring agent collects performance statistics using various standard python and system calls. For Windows it calls wmic and for Linux it uses free, top, uptime, df, etc. 
<br /><br />
The short system name (non-domain) is used as the primary key for the agent and every piece of data sent to the collector is tagged with it.  The following additional system configurations are collected by the agent.
<br /><br />
conf.domain<br />
conf.ipaddress<br />
conf.memory.total<br />
conf.os.architecture<br />
conf.os.build<br />
conf.os.name<br />
conf.processors<br />
<br /><br />
The agent also collect a variety of performance data.  Some is OS specific and some can be configured on the agent.<br /><br />
perf.memory.percent.used<br />
perf.filesystem.c.percent.used<br />
perf.network.bytes.received<br />
perf.network.bytes.sent<br />
perf.pagefile.percent.used<br />
perf.process.processname.state<br />
perf.processor.percent.used<br />
perf.service.spooler.state<br />
perf.system.uptime.seconds<br />
<br /><br /> 
The agent records statistics locally to a SQLite database at one minute intervals on the minute.  It then sends the data via TCP (optionally SSL) to a collection server (collector).  If the collector successfully receives the data it responds back and the agent records the data as sent.  All data transmissions are initialized from the agent to the collector.
<br /><br /> 
The agent also generates events based on defined thresholds.  The thresholds are defined in settings.ini and stored in SQLite for processing.  Agent events are sent on the minute with performance data.  The agent will open, close, escalate, or deescalate events based on priority changes.  It will also maintain state and not resend on the same alert if that alert has not changed. 
<br /><br />
<h3 id='agent_settings'>Settings</h3>
The monitoring agent's configuration (settings.ini) is broken down into three sections: configuration, services (Windows) or processes (Linux), and thresholds.
<br /><br /> 
The main [configuration] section includes five variables.  Ex.<br /><br />
log = False<br />
secure = True<br />
port = 8888<br />
secure = False<br />
server = 127.0.0.1<br /><br />
The server variable is the ip address of the collection server that you are sending data to.  Port is the port that the collection server is listening on.  Secure is to set SSL (TLS 1.2) to True or False (default).  This is used when sending data from the agent to the collector.  The collector must be set the same as the agent.  Passphrase is an additional security level.  The collector uses this to verify that the message can be accepted.  This setting must be the same on the collector and agent.  And log is currently not enabled.
<br /><br /> 
The [services] section is for Windows services.  Services can be added like the example below.  The utilize the short service name.<br /><br />
s00 = Spooler<br />
s01 = LanmanServer<br />
<br /><br /> 
The [processes] section is for Linux processes and works similar to the Windows server section.  Processes can be added like the example below.  The utilize the short service name.<br /><br />
p00 = systemd<br />
p01 =<br /><br /> 
The thresholds section is a bit more in-depth.  Each threshold defined by TXX has five parts (Ex. perf.filesystem.c.percent.free,4,15,<,900).  This represents monitor, severity, threshold, operator, and duration.  The monitor is predefined and only set monitors can be used.  The severity can be 1 - Critical, 2 - Major, 3 - Warning, 4 - Informational.  The threshold depends on the monitor although many are percentages 0-100.  The operator defines if you want to trigger for greater than or less than the threshold.  For services and processes only equals is allowed.  And lastly is the duration (in seconds) to check for when creating an event. 
<br /><br /> 
Although the agent is fixed as to its default monitors, it would be very easy to add additional monitors.  As long as the threshold rules are respected, the agent can be modified to collect send data and events on any obtainable performance statistic.
<br /><br />
<b><a href='#top'>top</a></b></br />

<h2 id='server'>Server</h2>
There are three major server components: the web server, collect engine, and event engine.  The web server is a simple micro-framework for asynchronously handling python web code.  The collect engine listens for agent traffic and processes it into the database.  And the event engine handles simple agent events and maintenance tasks.  While these three components run separately, they all use the same configuration file (settings.ini) and certificates.
<br /><br />
<h3 id='server_settings'>Settings</h3>
Like the agent, all setting for the server components are handled using a settings.ini file.  Here is a breakdown of the sections and their variables.<br /><br />
The [certificates] section maintains the name of the certificate and the key file.  These are required for making SSL/TLS 1.2 connections for web and agent communication.<br /><br />
key = localhost.pem<br />
name = localhost.crt<br /><br />
The [database] section includes all of the database connection information.<br /><br />
host = localhost<br />
name = monitoring<br />
user = monitoring<br />
password = monitoring<br /><br />
The [server] section includes basic port information and settings to enable secure (SSL/TLS 1.2) connections.  For secure connections, secure has to be set to True and the port should be changed to 443.  This will set the security for both the web server and the collect engine.<br /><br />
log = False<br />
ipaddress = 127.0.0.1<br />
passphrase = secure_monitoring<br />
port_collect = 8888<br />
port_web = 443<br />
secure = True<br />
session_expire = 3600<br /><br />
The [mail] section is used by the event engine to handle sending emails.<br /><br />
active = 0<br />
admin = philip.c.white@monitoring<br />
server = localhost<br /><br />
The [events] section is for configuring availability checks for agents.  If an agent has not reported in a specified number of seconds, then the event engine will create an event and set its severity based on these settings.<br /><br />
availability_check = 300<br />
availability_severity = 1<br />
<br /><b><a href='#top'>top</a></b></br />
<h2 id='website'>Website</h2>
The website is the most user interactive component of the monitoring application and consists of several sections.  This guide will 
briefly cover each section.<br />
<h3 id='website_main'>Main</h3>
This section includes the main page when you log in.  On the main page there is an overview of of the agents, events, and the 
monitoring server.<br />
<h3 id='website_devices'>Devices</h3>
The device pages include a device list and individual pages for each device reporting.  On these pages you can drill down 
an additional level to see performance graphs. <br />
<h3 id='website_events'>Events</h3>
The events page displays all open and closed events.  Events on these pages can be opened or closed as well.<br />
<h3 id='website_reports'>Reports</h3>
The reporting page includes all available reports (currently None)<br />
<h3 id='website_settings'>Settings</h3>
The settings page contains the user guide along with user and notification management.<br />
<h4>User Management</h4>
Users can be added, changed, and removed from the user management tool <a href='/users'>here</a>.  To add a user select 
Add User.  You are required to fully fill out the form including the username, password, and role.  You also have the options 
to change a user's password or roles in this section.  And lastly you can delete a user.  There is a confirmation screen 
when deleting a user.  If the admin user is deleted, the application will create a new one with the default username admin 
and password, password.  If you are locked out of the system, you can delete the admin user in MySQL from the user's table 
and it will recreate the user when the server is restarted.<br />
<h4>Notification Management</h4>
You can control who receives notifications <a href='/notify'>here</a>.  While internal events are created on the agent or 
through the event engine, this section defines who notifications are sent to.  The hostname and monitor textboxes can take 
wildcards.  To use a wildcard simple type %_%.  Email notifications have to also be enabled on the event engine to send. <br />
<br />
To send out all critical events on all systems, you can create a rule with your email address, '%_%' for hostname and monitor, 
select status open, severity Critical, and set enabled to True.<br />
<br /><b><a href='#top'>top</a></b></br />
