<table style="width:100%;">
    <tr>
        <td style="padding-right:4px">
            <div class="card-div">
                <div class="card-header">{% head1 %}</div>
                <table style="width:100%;height:105px">
                    <tr><td style="width:50%;text-align:center;">
                        {% block1 %}
                   </td></tr>
                </table>
            </div>
        </td>
        <td style="padding-left:4px;padding-right:4px">
            <div class="card-div">
                <div class="card-header">{% head2 %}</div>
                <table style="width:100%;height:105px">
                    <tr><td style="width:50%;text-align:center">
                        {% block2 %}
                    </td></tr>
                </table>
            </div>
        </td>
        <td style="padding-left:4px;padding-right:4px">
            <div class="card-div">
                <div class="card-header">{% head3 %}</div>
                <table style="width:100%;height:105px">
                    <tr><td style="width:50%;text-align:center">
                        {% block3 %}
                    </td></tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding-top:8px">
            <div class="card-div"><div class="card-header">{% head4 %}</div>
                <table style="width:100%;table-layout:fixed;">
                    <tr><td style='padding-left:20px'>
                        {% block4 %}
                    </td></tr>
                    <tr>{% pager %}</tr>
                </table>
            </div>
        </td>
    </tr>
</table>