<!DOCTYPE html>
<html>
<head><title>Monitoring</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body style="background-color:#325D88">
<br />
<br />
<div style="display:flex;justify-content:center">
<table style="width:300px"><tr><td>
<div class="card-div">
<div class="card-header">Monitoring Login</div>
<table style="width:100%;">
<tr>
<td style="padding-left:10px">
<form action="verify" method="POST">
<table>
<tr><td style="width:150px">Username</td><td style="width:150px"><input type="text" class="text-input" name="username" /></td></tr>
<tr><td>Password</td><td><input type="password" class="text-input" name="password" /></td></tr>
<tr><td></td><td style="text-align:right"><input type="submit" class="action-button" value="Login" /></td></tr>
</table>
</form>
</td></tr></table> 
</div></td></tr></table>
</div>
</body>
</html>
