<table style="width:100%;"><tr><td>
    <div class="card-div">
    <div class="card-header">Settings</div>
    <table style="width:100%;">
    <tr>
    <td style="padding-left:10px">
        <b>Site Settings</b><br />
        <a href="/notify">Notification Rules</a><br />
        <br />
        <b>User and Role Management</b><br />
        <a href="/users">Manage Users</a><br />
        <br />
        <b>Documentation</b><br />
        <a href='/help'>User Guide</a><br />
        <a href="/about">About</a><br />
        <br /> 
    </td></tr></table> 
    </div></td></tr>
</table>