<!DOCTYPE html>
<html>
    <head>
    <title>Monitoring</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body>
        <div><div class="nav-sidebar">
        <a href="/" class="nav-button nav-home"></a>  
        <a href="/events" class="nav-button nav-events"></a>
        <a href="/devices" class="nav-button nav-devices"></a> 
        <a href="/reports" class="nav-button nav-reports"></a>
        <a href="/settings" class="nav-button nav-settings"></a> 
        </div>
        <div class="search-div">
        <form id="searchform" action="/search" method="GET">
        <img src = "/static/svg/search.svg" class="search-svg" />
        <input type="text" name="device" class="text-input" style="width:120px" />
        <input type="button" class="search-button" value="Go" onclick="searchform.submit()" />
        </form>
        </div>
        <div class="mon-container">
        <div class="user-div">
         {% block breadcrumbs %}{% endblock %}  | &nbsp;
         <img src = "/static/svg/bread_user.svg" style="height: 12px; width: 12px" />
         &nbsp; <a href="/password"> {% block user %}{% endblock %} </a>&nbsp; (<a href="/logoff">Log Out</a>)
        </div>
        {% block body %}{% endblock %}
        </div>
        </div>
    </body>
</html>
