
<table style="width:100%;">
  <tr>
    <td style="padding-right:4px">
      <div class="card-div">
        <div class="card-header"></div><span style="font-weight: bold;padding-left: 5px; padding-top: 3px;">Host Availability</span>
          <table style="width:100%;height:105px">
            <tr>
              <td style="width:50%;text-align:center;">
                <table style="width:100%;height:105px">
                  <tr>
                    <td style="width:50%;text-align:center;">
                      <svg width="95" height="95" viewBox="0 0 42 42" class="donut"><circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d9534f" stroke-width="5"></circle><circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#93C54B" stroke-width="5" stroke-dasharray="{{avail_total}}" stroke-dashoffset="25"></circle></svg>
                    </td>
                    <td style="width:50%;vertical-align:top;text-align:left;padding-top:34px">
                      <svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#93C54B" /></svg> {{avail_ok}} Hosts Up<br />
                      <svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#d9534f" /></svg> {{avail_down}} Hosts Down
                    </td>
                  </tr>
                </table>
               </td>
              </tr>
            </table>
          </div>
        </td>
        <td style="padding-left:4px;padding-right:4px">
          <div class="card-div">
            <div class="card-header"></div><span style="font-weight: bold;padding-left: 5px; padding-top: 3px;">Open Events</span>
              <table style="width:100%;height:105px">
                <tr>
                  <td style="width:50%;text-align:center">
                    <table style="width:100%;height:105px">
                      <tr>
                        <td style="width:50%;text-align:center">
                          <svg width="95" height="95" viewBox="0 0 42 42" class="donut">
                            <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#93C54B" stroke-width="5"></circle>
                            <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#29ABE0" stroke-width="5" stroke-dasharray="{{event_info_pts}}" stroke-dashoffset="25"></circle>
                            <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ffc107" stroke-width="5" stroke-dasharray="{{event_warn_pts}}" stroke-dashoffset="{{event_warn_offset}}"></circle>
                            <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#F47C3C" stroke-width="5" stroke-dasharray="{{event_majr_pts}}" stroke-dashoffset="{{event_majr_offset}}"></circle>
                            <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d9534f" stroke-width="5" stroke-dasharray="{{event_crit_pts}}" stroke-dashoffset="{{event_crit_offset}}"></circle>
                          </svg>
                        </td>
                        <td style="width:50%;vertical-align:top;text-align:left;padding-top:16px">
                          <svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#29ABE0" /></svg> {{event_info}} Information<br />
                          <svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#ffc107" /></svg> {{event_warn}} Warning<br />
                          <svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#F47C3C" /></svg> {{event_majr}} Major<br />
                          <svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#d9534f" /></svg> {{event_crit}} Critical
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td style="padding-left:4px;padding-right:4px">
            <div class="card-div">
              <div class="card-header"></div><span style="font-weight: bold;padding-left: 5px; padding-top: 3px;">Monitoring Server</span>
                <table style="width:100%;height:105px">
                  <tr>
                    <td style="width:50%;text-align:center">
                      <table style="width:100%;height:105px;padding-top:6px;padding-left:10px">
                        <tr>
                          <td style="width:50%;vertical-align:top;text-align:left">
                            Name: {{agent_name}}<br />Processors: {{agent_processors}}<br />Memory: {{agent_memory}} MB <br />Platform: {{agent_platform}} ({{agent_architecture}})<br />
                          </td>
                          <td style="width:50%;vertical-align:top;text-align:left">
                            <svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#{{agent_cpu_color}}" /></svg> {{agent_cpu_percent}}% CPU<br />
                            <svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#{{agent_memory_color}}" /></svg> {{agent_memory_percent}}% Memory<br />
                            <svg width="10" height="10"><rect width="10" height="10" rx="2" ry="2" style="fill:#{{agent_online_color}}" /></svg> Agent Status<br />
                          </td></tr></table>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
              <tr>
                <td colspan="3" style="padding-top:8px">
                <div class="card-div"><div class="card-header"></div><span style="font-weight: bold;padding-left: 5px; padding-top: 3px;">Host Summary</span>
                  <table style="width:100%;table-layout:fixed;">
                      <tr><td style='padding-left:20px'>
                        {{host_summary|safe}}
                        {{pager|safe}}
                      </td></tr>
                      <tr></tr>
                  </table>
              </div>
          </td>
      </tr>
  </table>
