{% extends "base.html" %}
{% block breadcrumbs %}
<img src="/static/svg/bread_settings.svg" class="bread-font" />  &nbsp;&nbsp;Settings&nbsp;
{% endblock %}
{% block user %}
{{user}}
{% endblock %} 
{% block body%} 
      
<div class="card-div">
  <div class="card-header"></div><span style="font-weight: bold;padding-left: 5px; padding-top: 3px;">Change Password</span><br />
    <table style="width:100%;">
      <tr>
        <td style="padding-left:10px">
          <form action="" method="POST">
            <table>
                <tr>
                    <td style="width:150px">Old Password</td>
                    <td style="width:150px"><input type="password" class="text-input" name="pass1" /></td>
                </tr>
                <tr>
                    <td>New Password</td>
                    <td><input type="password" class="text-input" name="pass2" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align:right"><input type="submit" class="action-button" value="Submit" /></td>
                </tr>
            </table>
          </form>
        </td>
      </tr>
    </table> 
  </div>
</div>



{% endblock %}
