{% extends "base.html" %}
{% block breadcrumbs %}
<img src="/static/svg/bread_home.svg" class="bread-font" />  &nbsp;&nbsp;Settings&nbsp;
{% endblock %}
{% block user %}
{{user}}
{% endblock %} 
{% block body%} 
      
<div class="card-div">
  <div class="card-header"></div><span style="font-weight: bold;padding-left: 5px; padding-top: 3px;">Search Results</span><br />
  <div style="padding:10px"> 
          Host names containing: {{device}}<br />
          {% for i in devices %}
          <a href="/device/{{i.name}}/">{{i.name}}</a></br />
          {% endfor %}
  </div> 
  </div>
</div>



{% endblock %}
