{% extends "base.html" %}
{% block breadcrumbs %}
<img src="/static/svg/bread_settings.svg" class="bread-font" />  &nbsp;&nbsp;Settings&nbsp;
{% endblock %}
{% block user %}
{{login}}
{% endblock %} 
{% block body%} 
      

<div class="card-div">
  <div class="card-header"></div><span style="font-weight: bold;padding-left: 5px; padding-top: 3px;">Assign role for {{user}}</span><br />
    <table style="width:100%;">
      <tr>
        <td style="padding-left:10px">
        <form action="" method="POST">
        <input type="hidden" name="id" value="{{id}}">
        <table>
        <tr>
          <td>Role</td>
          {% if role == 0 %} 
          <td><input type='radio' name='role' value='0' checked='checked' /> User<input type='radio' name='role' value='1' /> Admin</td></tr>
          {% elif role == 1 %}
          <td><input type='radio' name='role' value='0' /> User<input type='radio' name='role' value='1' checked='checked' /> Admin</td></tr>
          {% endif %}
          <tr><td></td><td style="text-align:right"><input type="submit" class="action-button" value="Submit" /></td>
        </tr>
      </table>
      </form>
  </td></tr></table> 
</div>
</div>

{% endblock %}
