{% extends "base.html" %}
{% block breadcrumbs %}
<img src="/static/svg/bread_settings.svg" class="bread-font" />  &nbsp;&nbsp;Settings&nbsp;
{% endblock %}
{% block user %}
{{user}}
{% endblock %} 
{% block body%} 


<div class="card-div">
  <div class="card-header"></div><span style="font-weight: bold;padding-left: 5px; padding-top: 3px;">Users</span><br />
    <table style="width:100%;">
      <tr>
        <td style="padding-left:10px">
          <table style='width:100%'>
            {% for i in users %}
            <tr>
              <td>{{i.user}}</td>
              <td style='text-align:right'>
                <input type="button" onclick="window.location.href='/user_pass/{{i.user}}'" class="action-button" value="Password" />
                <input type="button" onclick="window.location.href='/user_role/{{i.id}}'" class="action-button" value="Roles" />
                <input type="button" onclick="window.location.href='/user_delete/{{i.id}}'" class="action-button" value="Delete" />
              </td>
            </tr>
            {% endfor %}
      </table>
      <input type="button" onclick="window.location.href='/user_add'" class="action-button" value="Add User" />
    </td>
  </tr>
</table> 
</div>
</div

{% endblock %}
