{% extends "base.html" %}
{% block breadcrumbs %}
<img src="/static/svg/bread_settings.svg" class="bread-font" />  &nbsp;&nbsp;Settings&nbsp;
{% endblock %}
{% block body%} 
      

<div class="card-div">
  <div class="card-header"></div><span style="font-weight: bold;padding-left: 5px; padding-top: 3px;">Assign role for {{user}}</span><br />
  <div style="padding:10px"> 
    <form action="" method="POST">
    <input type="hidden" name="id" value="{{id}}"> 
    <div style="display:table; width:50%;">
      <div style="display: table-row;">
        <div style="display:table-cell">Role</div>
          {% if role == 0 %} 
          <div style="display:table-cell"><input type='radio' name='role' value='0' checked='checked' /> User<input type='radio' name='role' value='1' /> Admin</div>
          {% elif role == 1 %}
          <div style="display:table-cell"><input type='radio' name='role' value='0' /> User<input type='radio' name='role' value='1' checked='checked' /> Admin</div>
          {% endif %}
        </div>
        <br />
        <input type="submit" class="action-button" value="Submit" />
      </form>
      </div>
</div>
</div>

{% endblock %}
