
<table style="width:100%;">
    <tr>
        <td>
            <div class="card-div" style="padding-left: 20px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px">
                {{devicesystem|safe}} 
            </div>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;padding-top:8px">
            <div class="card-div" style="padding-left: 20px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px">
                {{devicegraph|safe}}    
            </div>
        </td>
    </tr>
</table>


