{% extends 'mon_app/base.html' %}



{% block content %}

<br />
<div id="device_content" class="card-div" style="padding-left: 20px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px">



<!--{{devicegraph|safe}}-->

</div>

{{devicename}}

<br />

<script>
  function refresh() {
      $.ajax({
          url: '/device_content/' + '{{devicename}}',
          success: function(data) {
              $('#device_content').html(data);
          }
      });
      setTimeout(refresh, 60000);
  }
  
  $(function(){
      refresh();
  });
  </script>

{% endblock content %}