{% extends 'mon_app/base.html' %}



{% block content %}
<h1>Agent Thresholds</h1>

<div>
<table style="width:500px">
    <tr>
        <td><b>Monitor</b></td>
        <td><b>Severity</b></td>
        <td></td>
    </tr>
{% for i in thresholds %}

<tr>
    <td>{{i.monitor}}</td>
    <td>{{i.severity}}</td>
    <td><button onclick="window.location='{% url 'mon_app:settings_agent_threshold_edit' i.id %}'" class="action-button">Edit Threshold</button></td>
</td>

</tr>
{% empty %}
<tr><td colspan="3">No thresholds defined</td></tr>
{% endfor %}
</table>
<br />
<button onclick="window.location='{% url 'mon_app:settings_agent_threshold_add' devicename %}'" class="action-button">Add Threshold</button>
</div>



<br />



{% endblock content %}